{% extends "base.html" %}

{% block title %}Article Detail{% endblock %}

{% block content %}

<h1>Article Detail</h1>
<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Synopsis</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.author }}</td>
            <td>{{ object.created }}</td>
            <td>{{ object.synopsis }}</td>
            <td>{{ object.content }}</td>
        </tr>
    </tbody>
</table>

{% if user.is_authenticated %}

    <form action="{% url 'add_to_favourite' %}" method="post" class="d-inline">
        {% csrf_token %}
        <br>
        <input type="hidden" name="article_id" value="{{ object.pk }}">
        <input type="submit" value="Add To Favourite">
    </form>

{% endif %}

{% endblock %}