<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if titles %}
    <form method="POST">
        {% csrf_token %}
        <label for="title">Select movie for remove:</label>
        <select name="title" id="title">
            {% for title in titles %}
                <option value="{{ title.0 }}">{{ title.0 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Remove">
    </form>
    {% else %}
        <p>No data available</p>
    {% endif %}
</body>
</html>
