{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
        <h3>Log in!</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                        <td>
                            {% if field.errors %}
                                <small>{{ field.errors|striptags }}</small>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            <br>
            <button type="submit">Login</button>
        </form>
        
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
{% endblock %}
