<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link rel="stylesheet" href="">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <form action = "" method = "post">
        {% csrf_token %}
        {{form }}
        <input type="submit" value="Submit">
    </form>
    {% block content %}{% endblock %}
    <h3>Input History</h3>
    <table>
        {% for line in lines %}
        <tr>
            <td>
                {{line}}
            </td>
        </tr>
        {% endfor %}
    </table> 
</body>
</html>