{% extends "base.html" %}
{% load i18n %}

{% block title %}Articles{% endblock %}

{% block css_block %}
  <style>
      .table td:nth-child(2) {
          max-width: 20ch;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }
  </style>
{% endblock %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Synopsis" %}</th>
        <th>{% trans "Writer" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "When" %}</th>
        </tr>
    </thead>
    <tbody>
      {% for article in article_list %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.created }}</td>
                <td>{{ article.created|timesince }}</td>
                <td>
                  <form method="get" action="{% url 'article_detail' article.pk %}">
                      <button type="submit" class="btn btn-info">Read</button>
                  </form>
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="4">No articles yet.</td>
          </tr>
          {% endfor %}
    </tbody>
  </table>

{% endblock %}
