{% extends "base.html" %}
{% load i18n %}

{% block title %}Publications{% endblock %}

{% block content %}
<h1>{% trans "Publications" %}</h1>
<table border="1">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Synopsis" %}</th>
            <th>{% trans "Created" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for article in article_list %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.synopsis }}</td>
            <td>{{ article.created }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No articles yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
